body{
    font-family: Arial;
    background: #757272;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    background: rgb(197, 195, 195);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input{
    padding: 8px;
    width: 70%;
}

button{
    padding: 8px;
    cursor: pointer;
}

li{
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.concluida{
    text-decoration: line-through;
    color: gray;
}
